<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br> Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
<button ng-click="clickMe()">Click</button>
<div> </div>
<ul sampledirective style="height:100px; overflow:scroll;" ng-change="loadMore()" ng-model="awesomeThings">
  <li ng-repeat="things in awesomeThings  track by $index">
    {{things | uppercase:true}}
  </li>
</ul>
<div ng-controller="WatcherCtrl">
  {{filters}}
  <input type="text" ng-model="filters" />
  <button ng-click="changeIt()">
      clik me
    </button>

</div>
</div>